/* Reset some default styles for consistency */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

#app {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 5%;
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

form {
    margin-top: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
select,
button[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Style the submit button */
button[type="submit"] {
    background-color: #177d12;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #00ff1a;
    color: black;
}

/* Expenses List */
.expenses {
    margin-top: 20px;
    text-align: left;
}

.expenses h2 {
    color: #333;
    margin-bottom: 10px;
}

.expenses ul {
    list-style: none;
}

.expenses li {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Total Balance */
.total-balance {
    margin-top: 20px;
}

.total-balance h2 {
    color: #333;
}

/* Style the Debts Section */
.debts {
    margin-top: 20px;
    text-align: left;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.debts h2 {
    color: #333;
    margin-bottom: 10px;
}

.debts ul {
    list-style: none;
    padding-left: 0;
}

.debts li {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
}

.debts p {
    margin: 5px 0;
    color: #333;
    font-weight: bold;
}
